<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- 使用applicationContext.xml文件时是需要在web.xml中添加listener的： -->


    <!--
        自动扫描com.mmall包下的一些注解，这样我们可以方便的在类中进行注入
    -->
    <context:component-scan base-package="com.mmall" annotation-config="true"/>

    <aop:aspectj-autoproxy/>

    <!--把当前的spring的配置文件进行分离，分离出来一个applicationContext-datasource.xml文件-->
    <import resource="applicationContext-datasource.xml"/>
</beans>